<!DOCTYPE html>
<html>

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />


  <title>Corona Tracker</title>
</head>

<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"> <a id="logo-container" href="/">Corona Tracker</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#global">Global Data</a></li>
        <li><a href="#state">State-wise Data</a></li>
        <li><a href="http://tiny.cc/CoronaTracker">Download App</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#global">Global Data</a></li>
        <li><a href="#state">State-wise Data</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
    <div class="row blue lighten-5" style="height: 100px;">
    <div class="col s12 " id="msgbox">
      <p class="flow-text center-align" id="msg">Be compassionate! Help those in need like the elderly and poor. They are facing a crisis you cannot even imagine!</p>
    </div>
    </div>
