/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 .icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
      font-size: inherit;
  }


  .float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:80px;
    right:20px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 2px 2px 3px #999;
    z-index:100;
  }
  
  .my-float{
    margin-top:16px;
  }